/* Navigation */
header {
    min-height: 50px;
    background-color:#0A192F;
    background-image: url('img/background.gif');
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    overflow:hidden; /* for float if flex not supported */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    float: left;
    /* to deal with flex */
    flex-shrink:0;
    margin:auto;/* or 0 or auto auto auto 0 or ... */
}

nav {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* Footer */
body {
    position: relative;  
    background-color:#0A192F;
    color: white;
}

#last-content {
    padding-bottom: 2.5rem;    /* Footer height */
    padding: 90px 40px;
}

p {
    font-family: sans-serif, Tahoma, Verdana;
    color: white;
}

#start {
    padding: 200px 50px;
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-right: 150px;
    margin-left:150px;
}

#aboutme {
    padding: 20px 40px;
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.row {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    margin-right: 100px;
    margin-left: 100px;
}

.column {
    flex: 1;
}

.column.right {
    flex: 0.5;
}

.column.left {
    flex: 1;
}

#personal {
    border-radius: 20%;
}
  
.proj {
    min-height: 280px;
    max-width: 360px;
    flex: 33.33%;
    border-radius: 20%;
    /*background-image: url('http://i.imgur.com/k5gf0zz.jpg'); */
    background-color: brown;
    align-items:center;
}

.footer {
    height: 50px;
    padding: 12px;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    background: #0A192F;
    color: white;
}

#reach {
    padding: 20px;
    font-size: 25px;
    margin-right: 200px;
    margin-left: 200px;
}

.box {
    height: 90px;
    -webkit-transition: border-color .2s linear;
    transition: border-color .2s linear;
    position: relative;
    background: #131419;
    border: 1px solid #3e3e3e;
    z-index: 0;
}

.box:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    z-index: -1;
    bottom: 0;
    left: -10px;
    right: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border: 1px solid #3e3e3e;
    border-top: none;
    border-right: none;
}

.fa-linkedin-in:before {
    content: "\f0e1";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-github-alt:before {
    content: "\f113";
}

.fab {
    color: #858383;
    font-size: 30px;
}

.content {
    position: relative;
    z-index: 2;
    width: calc(100% - 40px);
    padding: 20px;
    background: #131419;
    height: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.name {
    font-weight: 600;
    font-size: 17px;
}

.user {
    color: #858383;
}

.reach-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-column-gap: 45px;
    grid-row-gap: 50px;
}
